In [2]:
import pandas as pd
import matplotlib
df=pd.read_csv("C:\\cookiecutter-data-science\\Titanic Project\\data\\rawdata\\train.csv")

In [3]:
print(df.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [25]:
pd.crosstab(df.Sex,df.Survived)

Survived    0    1
Sex
female     81  233
male      468  109

In [9]:
pd.crosstab(df.Survived,df.Sex)

Sex       female  male
Survived
0             81   468
1            233   109

In [ ]:
pd.crosstab(df.Survived,df.Sex).plot(kind='bar')